<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wyhzb.hbsc">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:theme"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.wyhzb.hbsc.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wyhzb.hbsc.activitys.ActivityCreateProject"
            android:label="@string/title_activity_create_project"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.wyhzb.hbsc.activitys.ProjectBidding"
            android:label="@string/title_activity_project_bidding"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.wyhzb.hbsc.activitys.ActivityPersonalInformation"
            android:label="@string/title_activity_personal_information"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name="com.wyhzb.hbsc.activitys.ActivityUserRegister"
            android:label="@string/title_activity_user_register"
            android:theme="@style/AppTheme.NoActionBar">


        </activity>

        <activity
            android:name="com.wyhzb.hbsc.activitys.ActivityMyMainBoard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wyhzb.hbsc.activitys.ActivityManager"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

    </application>

</manifest>